<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ffcg-giftomatic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ffcg-giftomatic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ffcg-giftomatic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ffcg-giftomatic</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Giftomatic.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Giftomatic.Models.UsersContext, Giftomatic" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Giftomatic.Data.MessageBoardContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Giftomatic.Data.MessageBoardContext, Giftomatic" MigrationConfiguration="Giftomatic.Data.MessageBoardMigrationsConfiguration, Giftomatic" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Giftomatic.Data.PredictionDataContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Giftomatic.Data.PredictionDataContext, Giftomatic" MigrationConfiguration="Giftomatic.Data.PredictionDataMigrationsConfiguration, Giftomatic" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:f5bv9w5661.database.windows.net;Database=ffcgamd-db;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!;Trusted_Connection=False;Encrypt=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:f5bv9w5661.database.windows.net;Database=ffcgamd-db;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!;Trusted_Connection=False;Encrypt=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Giftomatic.Data.MessageBoardContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Giftomatic.Data.PredictionDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Giftomatic.Models.UsersContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f5bv9w5661.database.windows.net,1433;Initial Catalog=ffcg-giftomatic;User ID=ffcgdb_web@f5bv9w5661;Password=OMG!3v1lb4n4as!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Giftomatic.Data.MessageBoardContext" />
    <_ConnectionStringsToInsert Include="Giftomatic.Data.PredictionDataContext" />
    <_ConnectionStringsToInsert Include="Giftomatic.Models.UsersContext" />
  </ItemGroup>
</Project>